.h-hero {
    position: relative;
    max-width: 1400px;
    width: 100%;
    height: 600px;
    background: url("../../assets/HotelsHeroImg.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    border-radius: 20px;
    margin: 60px auto 0;
    padding-bottom: 40px;
}

.h-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.h-content {
    position: relative;
    z-index: 2;
    padding: 20px;
    width: 90%;
    max-width: 800px;
}

.h-title {
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 15px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.h-text {
    font-size: 20px;
    line-height: 1.5;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}


@media (max-width: 1400px) {
    .h-hero {
        width: 97%;
    }
}

@media (max-width: 768px) {
    .h-hero {
        height: 500px;
        border-radius: 15px;
        padding-bottom: 30px;
    }

    .h-overlay {
        border-radius: 15px;
    }

    .h-title {
        font-size: 36px;
    }

    .h-text {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .h-hero {
        height: 400px;
        border-radius: 10px;
        padding-bottom: 20px;
    }

    .h-title {
        font-size: 28px;
    }

    .h-text {
        font-size: 14px;
    }
}