.flights-hotels {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px;
    background-color: #404040;
    border-radius: 10px;
    box-shadow:  0 4px 10px rgba(0, 0, 0, 1);

}

.flights-hotels__option {
    position: relative;
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
    padding: 20px;
    color: white; 
    text-align: center;
    margin-top: 10px;
}

.flights-hotels__button {
    background-color: #00ffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bold;
    margin-top: 10px;
}

.flights-hotels__button:hover {
    background-color: #00cccc;
}
