.destination-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    border: #bbb;
  }
  
  .destination-card:hover {
    transform: translateY(-5px);
  }
  
  .destination-card__image {
    margin-top: 10px;
    margin-bottom: 0;
    width: 90%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;

  }
  
  .destination-card__content {
    padding: 10px 15px;
    margin-top: 0;
  }
  
  .destination-card__content h3 {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 0;
  }
  
  .destination-card__content p {
    font-size: 14px;
    color: #777;
  }
  