.hero {
    position: relative;
    max-width: 1380px;
    width: 100%;
    height: 600px;  
    background: url("../assets/HeroImg.png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px auto 0; 
    
  }
  
  .hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
  }
  
  .hero__content {
    position: relative;
    z-index: 2;
    padding: 20px;
  }
  
  .hero__content .hero__title {
    font-size: 52px; 
    font-weight: bold;
  }
  
  .hero__content .hero__text {
    margin-top: 15px;
    font-size: 20px;
  }
  
  @media (max-width: 1400px) {
    .hero {
      width: 90%;
      height: 600px; 
    }
  }
  
  @media (max-width: 768px) {
    .hero {
      height: 500px; 
    }
    .hero__content .hero__title {
      font-size: 36px;
    }
    .hero__content .hero__text {
      font-size: 16px;
    }
  }
  