/* Contenedor principal */
.search-container {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  
  .search-form {
    background: #404040;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 3fr .45fr; /* Primera parte con inputs, segunda con el botón */
    gap: 10px;
    align-items: center;
  }
  
  .input-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    
  }
  
  .search-input,
  .date-picker input,
  .select-dropdown {
    width: 95%;
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    justify-content: space-between;
  }
  
  /* Contenedor de calendario */
  .date-picker {
    position: relative;
    width: 100%;
  }
  
  /* Calendario emergente */
  .calendar-dropdown {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 10;
    background: #404040;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
  }
  
  /* Contenedor de selects */
  .select-group {
    width: 100%;
    text-align: center;
    justify-content: space-between;
  }
  
  /* Botón de búsqueda alineado a la derecha */
  .search-button {
    background-color: #00ffff;
    color: white;
    padding: 10px;
    height: 100%;;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    

  }
  
  .search-button:hover {
    background-color: #00cccc;
  }
  