.landing__page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero {
  margin-top: 60px;
}

.destinations__div {
  width: 97%;
  max-width: 1400px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flightshotels__div {
  width: 97%;
  max-width: 1400px;
  align-items: center;
  margin-top: 40px;
}

.footer__copyright {
  text-align: center;
}