.places {
    text-align: center;
    background-color: #404040;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    border-radius: 20px;
    width: 97.5%;
    margin: 0 auto; 
}

.places-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.places-text {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0px;
    width: 100%; 
}

.places-header h2 {
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.places-header p {
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
}