.fp-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.fp-places {
    width: 90%;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fp-flights{
   
    max-width: 1400px;
    width: 91%;
}